body {
  background-color: #f1f3f6;
  color: #575757;
  overflow-x: hidden;
  font-size: 14px;
  scroll-behavior: smooth;
}

a {
  color: #07a479;
}
a:hover {
  text-decoration: none;
}

/* The Top navigation menu */
.header {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  background-color: #f1f3f6;
  padding: 0;
  /* border-bottom: 1px solid #dcdcdc; */
  box-shadow: 7px 7px 10px #e5e7ea, -14px -14px 28px #fdffff;
}

.header #header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 40px;
}

.header-right {
  display: flex;
}

.header-right .dropdown-menu.show {
  background-color: #f6f6f6;
  right: 0;
  left: auto !important;
  transform: translate3d(0px, 50px, 0px) !important;
}

.logo span {
  color: #575757;
}

.menu {
  background-color: #f1f3f6;
  position: relative;
  width: 85px;
  height: 70px;
  -moz-box-shadow:    0 -2px 8px 0 #ccc;
  -webkit-box-shadow: 0 -2px 8px 0 #ccc;
  box-shadow:         0 -2px 8px 0 #ccc;
}

.menu span,
.menu i {
  display: block;
  position: absolute;
  color: #575757;
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.menu.open span:nth-child(2),
.menu.open span:nth-child(3) {
  width: 13%;
}

.menu span:nth-child(1) {
  top: 20px;
}
.menu span:nth-child(2) {
  top: 26px;
}
.menu span:nth-child(3) {
  top: 32px;
}

.user-profile img {
  width: 45px;
  height: 45px;
  padding: 3px;
  border: 1px solid #07a479;
  border-radius: 100%;

}

.dropdown.notification {
  position: relative;
}

.notification .dropdown-menu {
  width: 350px;
}

.notification .dropdown-option {
  font-size: 12px;
}

.notification .dropdown-menu a {
  font-size: 14px;
}

.dropdown-menu-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 15px;
    border-bottom: 1px solid #dee2e6;
}

.dropdown-menu-header div a:nth-child(2) {
    margin-left: 5px;
    padding-left: 8px;
    border-left: 1px solid #ced4da;
}

.dropdown-user a {
  font-size: 14px;
}

.btn-notification {
  width: 45px;
  height: 45px;
  padding: 3px;
  border-radius: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
}

.header-right .dropdown-toggle::after{
  display: none;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.header {
  background-color: #f1f3f6;
  box-shadow: 7px 7px 14px #e5e7ea, -7px -7px 14px #fdffff;
  border-bottom: 1px solid #e5e7ea;
}

.header .dropdown-menu {
  position: absolute;
  right: 0;
  left: auto;
  border-radius: 0px;
}

.header .user-image {
  float: left;
  width: 40px;
  height: 40px;
  border-radius: 5px;
}

.header .navbar {
  width: 100%;
}

.header .navbar-light .navbar-nav .nav-link:hover,
.header .navbar-light .navbar-nav .nav-link:focus {
  color: #575757;
  box-shadow: 7px 7px 14px #e5e7ea, -7px -7px 14px #fdffff;
  border-radius: 5px;
  transition: all 1s  ease-in-out;
}

.header .fa.fa-fw.fa-bars {
  color: #575757;
}

.header .navbar-light .navbar-nav .nav-link {
  color: #575757;
  padding: 10px 15px;
  position: relative;
  height: 100%;
}

.header .navbar-light .navbar-nav .nav-link i {
    font-size: 18px;
}

.header .navbar-light .nav-right > .navbar-nav > li {
  margin-left: 20px;
}

.header .navbar-light .nav-right > .navbar-nav > li.user-menu > .nav-link {
    padding: 0;
}

.header  li > a > .label {
  position: absolute;
  top: 9px;
  right: 7px;
  text-align: center;
  font-size: 9px;
  padding: 2px 3px;
  line-height: .9;
  color: #fff;
  border-radius: .25em;
}

.header  li > a:after {
  display: none;
}

.header-ul {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background-color: #ffffff;
  padding: 7px 10px;
  border-bottom: 1px solid #f4f4f4;
  color: #333;
  font-size: 14px;
}

.navbar-nav {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

.navbar-nav > .notifications-menu > .dropdown-menu,
.navbar-nav > .messages-menu > .dropdown-menu,
.navbar-nav > .tasks-menu > .dropdown-menu {
  width: 280px;
  padding: 0 0 0 0;
  margin: 0;
  top: 100%;
}
.navbar-nav > .messages-menu > .dropdown-menu li .menu > li > a > div > img {
    margin: auto 10px auto auto;
    width: 40px;
    height: 40px;
}
.navbar-nav > .messages-menu > .dropdown-menu li .menu > li > a
,.navbar-nav > .notifications-menu > .dropdown-menu li .menu > li > a {
  margin: 0;
  padding: 10px 10px;
  display: block;
  white-space: nowrap;
  border-bottom: 1px solid #f4f4f4;
}

.navbar-nav > .messages-menu > .dropdown-menu li .menu > li > a > h4 {
  padding: 0;
  margin: 0 0 0 45px;
  color: #333;
  font-size: 15px;
  position: relative;
}

.navbar-nav > .messages-menu > .dropdown-menu li .menu > li > a > p {
  margin: 0 0 0 45px;
  font-size: 12px;
  color: #888888;
}

.footer-ul a{
	border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  font-size: 12px;
  background-color: #fff;
  padding: 7px 10px;
  border-bottom: 1px solid #eeeeee;
  color: #333 ;
  display: block;
}

.dropdown-menu-over .menu {
  max-height: 200px;
  margin: 0;
  padding: 0;
  list-style: none;
  overflow-x: hidden;
}

.navbar-nav > .notifications-menu > .dropdown-menu li .menu > li > a {
  color: #444444;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 10px;
}

.navbar-nav > .notifications-menu > .dropdown-menu li .menu > li > a > .glyphicon,
.navbar-nav > .notifications-menu > .dropdown-menu li .menu > li > a > .fa,
.navbar-nav > .notifications-menu > .dropdown-menu li .menu > li > a > .ion {
  width: 20px;
}

a.navbar-brand {
  width: 165px;
}

.btn {
  padding: 10px 15px;
  border-radius: 5px;
  box-shadow: 7px 7px 14px #e5e7ea, -7px -7px 14px #fdffff;
}

.btn-primary {
  color: #07a479;
  background: #f1f3f6;
  border: none;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
  color: #07a479 !important;
  background-color: #f1f3f6 !important;
  border: none !important;
  box-shadow: 14px 14px 28px #e5e7ea, -14px -14px 28px #fdffff !important;
  transition: all 0.3s  ease-in-out;
}

#top .center {
  padding: 0;
  margin-left: 3rem;
}

#top .center .logo {
  display: flex;
}

#top .center .logo h3 {
  margin-bottom: 0;
  color: #07a479;
}

#top .center p {
  margin-bottom: 0;
  color: #07a479;
  line-height: 0.5;
}

#top .nav-left {
  float: left;
  display: flex;
}

#top .nav-right {
  float: right;
  display: flex;
}

/*    left menu **/

/********  TOP Bar *******/







@media screen and (max-width: 450px) {
  aside,
  #top #btn-sidebar,
  #top .center p {
    display: none;
  }
  #top div.center {
    margin-left: 0;
  }
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left 1s;
  padding: 20px;
  margin-left: 80px;
  margin-top: 80px;
}

#main.main-lg {
  margin-left: 0;
  transition: margin-left 1s;
}

#main.main-sm {
  margin-left: 220px;
  transition: margin-left 1s;
}

.card-body-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Color */

.bg-gray {
  background-color: #f6f6f6;
}

.text-primary {
  color: #07a479 !important;
}

.bg-primary {
  background-color: #07a479 !important;
}

.match-height .card {
  min-height: 100%;
}

.card-option a,
.card-footer a {
  color: #07a479;
}

.breadcrumb {
  background-color: transparent;
  padding: 0;
  margin-bottom: 0;
}

.page-title {
  /* border-bottom: 1px solid #dee2e6; */
}

.page-title h2 {
  margin-bottom: 0;
}

.page-title .breadcrumb-item {
  font-size: 14px;
}

.page-title hr {
  margin: 30px 0;
}

.custom-control-input:checked~.custom-control-label::before {
    color: #fff;
    border-color: #07a479;
    background-color: #07a479;
}
.custom-switch .custom-control-label::after {
    background-color: #07a479;
  }

.custom-control-label::before {
    border: #07a479 solid 1px;
}

.custom-range::-webkit-slider-thumb {
  background: #07a479;
}

.custom-range::-moz-range-thumb {
  background: #07a479;
}

.custom-range::-ms-thumb {
  background: #07a479;
}

.scroll-row {
  overflow-x: scroll;
  display: flex;
}

.scroll-box {
  padding: 15px;
  border-right: 1px solid #dee2e6!important;
  text-align: center;
}

.scroll-box:last-child {
  border-right: none;
}

/* On smaller screens, where height is less than 450px, change the style of the side-nav (less padding and a smaller font size) */
@media only screen and (max-width: 767px) {
  #header p,
  #menu,
  #mySidenav {
    display: none;
  }

  #main {
    margin-left: 0;
  }

  /* .logo h3:nth-child(2) {
    display: none;
  } */
  .menu {
    background-color: transparent;
    width: 70px;
    box-shadow: none;
  }

  .page-title h2 {
    font-size: 24px;
  }

  #bottom.navbar {
  background-color: #f1eeee;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1;
  -moz-box-shadow: 7px 2px 9px 2px #ccc;
  -webkit-box-shadow: 7px 2px 9px 2px #ccc;
  box-shadow: 7px 2px 9px 2px #ccc;
}

/* Style the links inside the navigation bar */
.navbar a {
  float: left;
  display: block;
  color: #575757;
  text-align: center;
  padding: 5px 15px;
  text-decoration: none;
}

.navbar a i {
  font-size: 16px;
}

.navbar a p {
  font-size: 12px;
}

/* Change the color of links on hover */
.navbar a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.navbar a.active {
  color: #08a47a;
}

}


.floor-icon {
  border-radius: 10%;
  background: #07a479;
  width: 45px;
  height: 45px;
  text-align: center;
  padding-top: 10px;
}

.floor-icon h5 {
  color: #e9e9e9;
}

.border-0 .list-group-item {
  border: none;
  /* padding: 10px 0; */
}

/* .card-combine .list-group .list-group-item {
  border: 1px solid rgba(0,0,0,.125);
} */

.list-group-item {
  background-color: #f5f5f5;
}

.card-combine .list-group .list-group-item.active {
    z-index: 2;
    background-color: #e9ecef;
    color: #495057;
}

.card-combine .left-panel {
  -moz-box-shadow: 5px 0 6px -2px #ccc;
  -webkit-box-shadow: 5px 0 6px -2px #ccc;
  box-shadow: 5px 0 6px -2px #ccc;
}

.left-panel #selectzone {
  overflow-y: scroll;
  height: 400px;
}

.fixed-background {
    background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.75)), url(../img/green-wallpaper.jpg);
    background-size: cover;
    width: 100%;
    height: 100%;
    /* position: fixed; */
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#tab-dashboard {
  position: absolute;
  height: 100%;
}

.btn:focus {
  box-shadow: none;
}

.card {
  border: none;
  border-radius: 15px;
  box-shadow: 14px 14px 28px #e5e7ea, -14px -14px 28px #fdffff;
}

.card,
.card-header,
/* .card-body, */
.card-footer {
  background: #f1f3f6;
}

.w-0 {
  width: 0 !important;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f3f6;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ccc;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #adb5bd;
}

/* On smaller screens, where height is less than 450px, change the style of the side-nav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .side-nav {padding-top: 15px;}
  .side-nav a {font-size: 18px;}
}

@media screen and (max-width: 767px) {
  /* .card,
  .card-body,
  .card .list-group-item {
    background: none;
    padding: 10px 0;
    border: none;
    box-shadow: none;
  } */

  .card-combine .left-panel,
  .shadow {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none !important;
  }
}
--------------------
